# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/
email_service_venv/

# Database
*.db

# Logs
*.log

# Environment Variables
.env

# IDEs and Editors
.vscode/

# SQLite3 database
*.sqlite3
